[Desktop Entry]
Type=Application
Name=Lakona Hub
Comment=Create and manage Lakona projects
Exec=lakona-hub
Icon=applications-development
Terminal=false
Categories=Development;
StartupNotify=true
